
<form class="col-md-12" method="post" asp-action="AddFile" asp-controller="BlobFiles" enctype="multipart/form-data">
    <div class="form-group">
        <input type="file" class="form-control" name="file" />
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success">Add</button>
    </div>
</form>